version: "3.9"
services:
  hello-world:
    container_name: hello-world
    image: "hello-world"
    restart: unless-stopped
    networks:
      - custom_network

  nginx-test-1:
    container_name: nginx-test-1
    image: nginx:latest
    restart: unless-stopped
    ports:
      - "8081:80"
    networks:
      - custom_network

  nginx-test-2:
    container_name: nginx-test-2
    image: nginx:latest
    restart: unless-stopped
    ports:
      - "8082:80"
    networks:
      - custom_network

  emqx:
    container_name: emqx
    image: emqx/emqx:latest
    restart: unless-stopped
    ports:
      - "1883:1883"
      - "18083:18083"
    depends_on:
      - hello-world
      - nginx-test-1
      - nginx-test-2
    networks:
      - custom_network

  homeassistant:
    container_name: homeassistant
    image: "ghcr.io/home-assistant/home-assistant:stable"
    restart: unless-stopped
    volumes:
      - ./config:/config
    privileged: true
    network_mode: host
    depends_on:
      emqx:
        condition: service_started

  mqdockerup:
    container_name: mqdockerup
    build: ./
    restart: unless-stopped
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./mqdockerup/data:/app/data
    environment:
      - MAIN_INTERVAL=5m
      - MQTT_CONNECTIONURI=mqtt://emqx:1883
      - ACCESSTOKENS_GITHUB=
    depends_on:
      homeassistant:
        condition: service_started
      emqx:
        condition: service_started
    networks:
      - custom_network

networks:
  custom_network:
