# Logs
logs
*.log

# Database
*.sqlite
*.db

# Build directory
dist

# Coverage directory used by tools like istanbul
coverage

# nyc test coverage
.nyc_output

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Editor folders
.idea
.vscode
.DS_Store
